body{
	/* background: rgb(199,197,244); */
	background: linear-gradient(90deg, rgba(199,197,244,1) 0%, rgba(119,107,204,1) 0%);
}
.container{
/*     display: flex;
		flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
		z-index: 25; */
}
.login{
    width: 320px;
    padding: 30px;
    padding-top: 156px;
}
.screen_content{
    z-index: 1;
    position: relative;
    height: 100%;
}
.screen{
    background: linear-gradient(90deg, #5d54a4, #7c78b8);
    position: relative;
    height: 600px;
    width: 360px;
    box-shadow: 0 0 24px #5c5696;
		top: 50vh;
		left: 50vw;
		transform: translate(-50%,-50%);
}
.screen_background{
    position: absolute;
    top: 0;
		bottom: 0;
    left: 0;
		right: 0;
    z-index: 0;
    clip-path: inset(0 0 0 0);
}
.screen_background_shape{
    transform: rotate(45deg);
    position: absolute;
}
.screen_background_shape1{
    height: 520px;
    width: 520px;
    background-color: #fff;
    top: -50px;
    right: 120px;
    border-radius: 0 72px 0 0;
}
.screen_background_shape2{
    height: 220px;
    width: 220px;
    background: #6c63ac;
    top: -172px;
    right: 0;
    border-radius: 32px;
}
.screen_background_shape3{
    height: 540px;
    width: 190px;
    background: linear-gradient(270deg, #5d54a4, #6a679e);
    top: -24px;
    right: 0;
    border-radius: 32px;
}
.screen_background_shape4{
    height: 400px;
    width: 200px;
    background: #7e7bb9;
    top: 420px;
    right: 50px;
    border-radius: 60px;
}